.chat-members{
    margin-top: 10px;
    height: 70%;
    overflow: scroll;
    display: flex;
    flex-direction: column;
}
.contact{
    height: 20%;
    padding: 10px;
    border-bottom: 1px solid lightgray;
}
.contact-div{
    display: flex;
    margin-left: 3%;
}
img{
    height: 40px;
    border-radius: 50px;
}
.image{
      display: flex;
      align-items: center;
      padding: 10px;
}
.text-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.contact:hover{
    background-color: lightgray;
    cursor: pointer;
}
.name{
    font-weight: bold;
}
.dot{
    display: flex;
    align-items: center;
    margin-right: 2px;
    
}
.unread-message{
    height:5px;
    width: 5px;
    border-radius:50%;
    background-color:red;
    color: white;
    
}